[Desktop Entry]
Name=kasir.mu
Comment=Point-of-sale framework
Exec=kasirmu-app
Icon=kasir.mu
Type=Application
Categories=Office;Finance;
Terminal=false
StartupNotify=true
MimeType=application/x-kasirpkg;
